<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <p>
        <label>Количество раз, когда печатается приветствие</label>
        <input type="number" name="n">
    </p>
    <p>
        <input type="submit">
    </p>
</form>

{% if message %}
<p>{{ message }}</p>
{% endif %}
</body>
</html>